@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 12px/1.6 arial, "\5b8b\4f53";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

img,
fieldset,
abbr,
acronym {
  border: 0;
  overflow: hidden;
  display: block;
}

ol,
ul {
  list-style: none;
}

i,
th,
em,
strong,
b,
address,
cite {
  font-style: normal;
  font-weight: 400;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}